  h1 {
      color: blueviolet;
      text-align: center;
      font-family: fantasy;
  }
  h2 {
      color: blue;
      text-align: inherit;
  }
table {
    border: 2px  solid;
    border-collapse: collapse;

}
th, td {
    border: 1px solid blueviolet;
    padding: 5px;
}
